.sides{
    padding: 10px;
    margin-left: 8em;
    margin-right: 8em;
    border: 7px solid #7a7776;
    background-color: white;
    opacity: 1;
}
.sides3{
    padding: 10px;
    margin-left: 9em;
    margin-right: 8em;
    border: 7px solid #7a7776;
    background-color: white;
    opacity: 1;
}

.tab{
   padding: 10px;
    margin-left: 9em;
    margin-right: 8em;
    border: 7px solid #7a7776;
    background-color: white;
    opacity: 1;
}
.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #4f4d4c;
  padding: 11px 11px 11px 11px;
  text-decoration: none;
}

.btn:hover {
  background: #85857f;
  text-decoration: none;
}

.myButton {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #4f4d4c;
  padding: 11px 11px 11px 11px;
  text-decoration: none;
}

.myButton:hover {
  background: #7f534b;
  text-decoration: none;
}

.sides2{
    padding: 20px;
    margin-left: 25em;
    margin-right: 25em;
    border: 7px solid #7a7776;
    background-color: white;
    opacity: 1;
    font-size: 20;
}

h1 {
		margin-top: 2em;
		text-decoration-color: white;
		color: white;

}

#qo{
  color: black;
}

#quotee{
  font-size: 20;
}

body{
	background-color: #3B5998; 
	overflow-x: hidden;
}


table, td, th{
		border-collapse: collapse;
		border: 2px solid black;
		width: 60em;
    height: 3em;
		border-color: black;
    color: black;
}

p{
	color: white;
	font-size: 50px;
	margin-top: 25px;
}


.container : submit {
	position: center;
}

#top{
	margin-left: 16em;
	margin-top: 5em;
}

#bottom{
	margin-top: 3em;
	margin-left: 16em;
}

/*/*.modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;  Full width 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}*/*/

/*.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}